{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <header>
            <div class="row" id="atas">
                <div class="col-md-3 lg-3">
                        <a class="navbar" id = "navbar" href="#" id="alpha"><strong>Toko Online</strong></a>
                        <a class="navbar" href="#" id="alpha"><strong>Home</strong></a>
                </div>
        </header>
        <section>
        
        </section>
        <footer>
        </footer>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    </body>
</html>